@import "keyframes.scss";
.videoFooter {
    position: relative;
    bottom: 145px;
    display: flex;
    color: white;
    padding: 20px;
    &_icon {
        position: absolute;
    }
    &_ticker p {
        font-size: 14px;
    }
    &_ticker>.ticker {
        height: fit-content;
        margin-top: 5px;
        margin-left: 30px;
        margin-right: -10px; // width: 100%;
    }
    &_text {
        flex: 1;
    }
    &_text>h3,
    p {
        padding-bottom: 10px;
    }
    &_record {
        animation: spinRecord infinite 4s linear;
        height: 50px;
        margin-top: 10px;
        // filter: invert(1);
        border-radius: 50%;
    }
}